.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	bottom: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

*::after,
*::before {
	box-sizing: border-box;
}

.button {
	display: block;
	width: 100%;
	cursor: pointer;
	border: none;
	outline: none;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

fieldset,
img,
abbr {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
th,
var {
	font-style: normal;
	font-weight: normal;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

ul li {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	outline: none;
}

legend {
	color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}

.main-header {
	background-color: #fff;
	width: 100%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	padding: 35px 0;
	transition: 0.3s top;
}

.main-header--fixed {
	position: fixed;
	z-index: 15;
	top: 0px;
}

.main-header--fixed + section {
	padding-top: 106px;
}

.main-header .btn--popup {
	background-color: #fff;
}

.main-header__holder {
	position: relative;
	display: flex;
	align-items: center;
}

.main-header__list {
	position: relative;
	z-index: 3;
	display: flex;
	align-items: center;
	margin: 0 -15px;
	padding-right: 24px;
}

.main-header__link {
	font-size: 14px;
	line-height: 1.2;
	color: #000;
	text-transform: uppercase;
	margin: 0 15px;
	transition: 0.3s color;
}

.main-header__link--active {
	position: relative;
}

.main-header__link--active:after {
	position: absolute;
	content: ' ';
	bottom: -15px;
	left: calc(50% - 10px);
	width: 20px;
	height: 7px;
	background-color: #1B58B1;
	border-radius: 20px;
	transition: 0.3s background-color;
}

.main-header__link:hover:not(.main-header__link--active) {
	color: #1B58B1;
}

.main-header__block {
	background-image: url(../img/icons/phone.svg);
	background-size: 20px;
	background-position: left center;
	background-repeat: no-repeat;
	font-size: 14px;
	line-height: 1.2;
	color: #000;
	padding: 5px 0;
	padding-left: 34px;
	margin-right: auto;
}

.main-header__icons {
	display: flex;
	align-items: center;
}

.main-header__btn {
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	width: 30px;
	height: 30px;
	padding: 0px;
	border: none;
	background-color: #fff;
	outline: none;
	margin-right: 28px;
}

.main-header__btn svg {
	flex-shrink: 0;
	width: 100%;
	fill: #1B58B1;
	transition: 0.3s fill;
}

.main-header__btn:hover svg {
	fill: #0b2347;
}

.main-header__btn:hover .main-header__count {
	color: #0b2347;
}

.main-header__count {
	position: absolute;
	display: block;
	right: -5px;
	bottom: -9px;
	font-size: 12px;
	line-height: 1.2;
	color: #1B58B1;
	transition: 0.3s color;
}

.main-header__count--elem {
	right: -10px;
}

.main-header__button button {
	cursor: pointer;
	width: 30px;
	height: 30px;
	outline: none;
	background-color: #fff;
	border: none;
	background-image: url(../img/icons/search.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 0px;
	margin-top: 2px;
}

.main-header__search {
	position: absolute;
	top: 0;
	left: 0;
	right: 10px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: flex;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s opacity, 0.3s visibility;
}

.main-header__search-active {
	opacity: 1;
	visibility: visible;
}

.main-header__search-wrap {
	position: relative;
	width: 100%;
	max-width: 480px;
	margin-left: auto;
}

.main-header__search-wrap input {
	width: 100%;
	border: none;
	border-bottom: 1px solid #333333;
	background-color: #fff;
	outline: none;
	padding: 11px 40px 11px 15px;
}

.main-header__search-btn {
	position: absolute;
	top: 7px;
	right: 0;
	display: block;
	width: 25px;
	height: 25px;
	border: 0;
	outline: none;
	background-color: transparent;
	background-image: url(../img/icons/search.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 0px;
	cursor: pointer;
}

.main-header__lang {
	order: 2;
}

.language-chooser {
	display: flex;
	align-items: center;
	margin-left: 30px;
}

.language-chooser li {
	font-size: 14px;
	line-height: 1.2;
	padding: 0px 10px;
	text-transform: uppercase;
}

.language-chooser li:not(:last-child) {
	position: relative;
}

.language-chooser li:not(:last-child):after {
	position: absolute;
	content: '|';
	color: #000;
	top: 0px;
	right: 0px;
}

.language-chooser li:first-child {
	padding-left: 0px;
}

.language-chooser li:last-child {
	padding-right: 0px;
}

.language-chooser li a {
	color: #000;
}

.language-chooser li a:hover {
	text-decoration: underline;
}

.language-chooser li.active a {
	font-weight: 700;
}

.language-chooser li.active a:hover {
	text-decoration: none;
}

.main-footer {
	padding-top: 75px;
}

.main-footer__desc p {
	font-size: 18px;
	line-height: 1.2;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 50px;
}

.msg-modal {
	position: fixed;
	top: 30%;
	left: calc(50% - 150px);
	width: 300px;
	padding: 20px 30px;
	border-radius: 15px;
	text-align: center;
	background-color: #1B58B1;
	color: #fff;
	opacity: 0;
	visibility: hidden;
	font-size: 18px;
	line-height: 1.5;
	border-radius: 5px;
	z-index: 20;
	transition: 0.3s visibility, 0.3s opacity;
}

.msg-modal-active {
	opacity: 1;
	visibility: visible;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	width: 100%;
	color: #333333;
	background-color: #fff;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	font-style: normal;
	font-family: "roboto";
}

img {
	max-width: 100%;
	height: auto;
}

.svg-about {
	position: absolute;
	width: 0px;
	height: 0px;
}

.container {
	max-width: 1230px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.container--inner {
	max-width: 1920px;
	padding: 0 60px;
}

.container--elem {
	max-width: 1920px;
	padding: 0px;
}

.container--contacts {
	max-width: 830px;
}

.container--main {
	position: relative;
	max-width: 1920px;
	margin: 0px auto;
	padding: 0px;
}

.container--content {
	max-width: 1720px;
	padding: 0 160px;
	margin: 0 auto;
}

.container--basket {
	max-width: 1270px;
	padding: 0 40px;
}

.input {
	display: block;
	width: 100%;
	font-size: 16px;
	background-color: #f3f3f3;
	color: #808080;
	border: none;
	outline: none;
	border-radius: 20px;
	padding: 20px;
	padding-bottom: 21px;
}

.input--area {
	resize: none;
	min-height: 150px;
}

.input.form-fail {
	border-color: #b00;
}

.input.form-done {
	border-color: #90ee90;
}

.input::placeholder {
	color: #333;
}

.input:focus::placeholder {
	color: transparent;
}

.title {
	max-width: 600px;
	position: relative;
	z-index: 3;
	font-size: 72px;
	line-height: 1.2;
	color: #115F41;
	text-transform: uppercase;
	padding-top: 40px;
	padding-bottom: 58px;
	font-weight: 900;
}

.title:after {
	position: absolute;
	content: ' ';
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background-color: #115F41;
}

.title--inner {
	padding-top: 50px;
	margin: 0 auto;
	text-align: center;
}

.btn {
	display: block;
	width: 100%;
	cursor: pointer;
	font: inherit;
	font-size: 18px;
	color: #fff;
	background-color: transparent;
	border: none;
	border-radius: 20px;
	outline: none;
	text-align: center;
	text-transform: uppercase;
	padding: 14px 10px;
	padding-bottom: 15px;
	font-weight: normal;
	transition: 0.3s background-color, 0.3s color, 0.3s border;
}

.btn--send {
	background-color: #115F41;
	color: #fff;
	max-width: 250px;
	margin: 0 auto;
}

.btn--send[disabled] {
	cursor: default;
	opacity: 0.5;
	text-decoration: line-through;
}

.btn--send:not(:disabled):hover {
	background-color: #04140e;
}

.product {
	position: relative;
	z-index: 3;
	padding-top: 135px;
}

.product__wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
}

.product__item {
	width: calc(100% / 3 - 40px);
	background-color: #f6f6f6;
	padding-top: 55px;
	padding-bottom: 34px;
	padding-right: 30px;
	padding-left: 42px;
	margin: 0 20px;
	margin-bottom: 48px;
}

.product__image {
	height: 0px;
	padding-top: 88%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 0 auto;
	margin-bottom: 50px;
}

.product__subtitle {
	font-size: 24px;
	line-height: 1.2;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 8px;
	font-weight: normal;
}

.product__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 18px;
}

.product__capacity {
	font-size: 18px;
	line-height: 1.2;
	color: #115F41;
	font-weight: normal;
}

.product__currency {
	font-size: 18px;
	line-height: 1.2;
	color: #000000;
	text-transform: uppercase;
	font-weight: 200;
}

.product__block {
	display: flex;
	align-items: center;
}

.product__cart {
	display: block;
	cursor: pointer;
	width: 40px;
	height: 40px;
	background-color: #115F41;
	border: none;
	outline: none;
	border-radius: 20px;
	margin-right: 20px;
	transition: 0.3s background-color;
}

.product__cart svg {
	display: block;
	width: 20px;
	height: 18px;
	fill: #f6f6f6;
	margin: 0 auto;
}

.product__cart:hover {
	background-color: #04140e;
}

.product__count {
	cursor: default;
	display: block;
	max-width: 27px;
	font-size: 24px;
	color: #115F41;
	border: none;
	outline: none;
	background-color: transparent;
	margin-right: 10px;
}

.product__btn {
	display: block;
	position: relative;
	cursor: pointer;
	width: 20px;
	height: 20px;
	border: none;
	outline: none;
	background-color: transparent;
}

.product__btn:after,
.product__btn:before {
	position: absolute;
	content: ' ';
	background-color: #115F41;
	border-radius: 5px;
	transition: 0.3s background-color;
}

.product__btn:after {
	top: calc(50% - 2px);
	left: 0px;
	width: 20px;
	height: 4px;
}

.product__btn--increment {
	margin-right: 10px;
}

.product__btn--increment:before {
	top: 0px;
	left: calc(50% - 2px);
	width: 4px;
	height: 20px;
}

.product__btn:hover:after,
.product__btn:hover:before {
	background-color: #04140e;
}

.product__price {
	cursor: default;
	font-size: 36px;
	line-height: 1.2;
	color: #115F41;
	margin-left: auto;
	font-weight: 200;
}

.about {
	margin-top: -295px;
	margin-bottom: 70px;
}

.about__image {
	position: relative;
}

.about__image svg {
	position: absolute;
	content: ' ';
	top: 0px;
	left: 0px;
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.about__wrap {
	position: relative;
	z-index: 2;
	display: flex;
	flex-wrap: wrap;
	padding-top: 19em;
	padding-bottom: 24em;
}

.about__item--pic {
	width: 520px;
	align-self: baseline;
	position: relative;
	clip-path: url(#about-pic);
}

.about__item--pic img {
	display: block;
}

.about__item--block {
	width: calc(100% - 520px);
	padding-top: 50px;
	padding-right: 78px;
}

.about__text p {
	font-size: 18px;
	line-height: 1.7;
	color: #000;
	padding-bottom: 2em;
}

.about__text h1 {
	font-size: 28px;
}

.about__text h2 {
	font-size: 26px;
}

.about__text h3 {
	font-size: 24px;
}

.about__text h4 {
	font-size: 22px;
}

.about__text h5 {
	font-size: 20px;
}

.about__text h6 {
	font-size: 18px;
}

.about__text h1,
.about__text h2,
.about__text h3,
.about__text h4,
.about__text h5,
.about__text h6 {
	line-height: 1.5;
	color: #000;
	font-weight: bold;
	padding-bottom: 50px;
}

.about__text ul {
	margin: 1em 0;
}

.about__text ul li {
	list-style-type: disc;
	list-style-position: inside;
	line-height: 1.7;
	margin-bottom: 5px;
	padding-left: 20px;
}

.about__text ol {
	padding: 0px;
	margin: 1em 0;
}

.about__text ol li {
	list-style-type: decimal;
	list-style-position: inside;
	line-height: 1.7;
	margin-bottom: 5px;
	padding-left: 20px;
}

.contacts__map {
	position: relative;
	min-height: 1240px;
	margin-top: -385px;
	clip-path: url(#map-desc);
}

.contacts__map iframe {
	position: absolute;
	top: -40px;
	display: block;
	width: 100%;
	height: calc(100% + 40px);
}

.contacts__block {
	position: relative;
}

.contacts__block:after {
	position: absolute;
	content: ' ';
	top: -2px;
	left: 0px;
	width: 100%;
	height: 4px;
	background-color: #fff;
}

.contacts__item {
	margin-bottom: 35px;
}

.contacts__item--block {
	margin-bottom: 64px;
}

.contacts__inner {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.contacts__label {
	display: inline-block;
	cursor: pointer;
	user-select: none;
	font-size: 18px;
	line-height: 1;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 8px;
	font-weight: 900;
}

.contacts__info {
	font-size: 18px;
	line-height: 1;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 8px;
	font-weight: 200;
}

.contacts__elem {
	margin-top: -240px;
}

.contacts__wrap-error {
	margin-bottom: 10px;
}

.contacts__error {
	color: #8B0000;
	padding-bottom: 15px;
	padding-left: 20px;
	text-transform: uppercase;
	font-weight: 700;
}

.menu {
	position: fixed;
	z-index: 12;
	top: 0px;
	left: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100px;
	min-height: 100vh;
	background-color: #fff;
	padding: 0 22px;
	border-right: 1px solid #333;
}

.menu__logo {
	display: block;
	max-width: 88px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 47px;
}

.menu__logo img {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.menu__link {
	display: block;
	font-size: 16px;
	color: #000;
	user-select: none;
	text-transform: uppercase;
}

.menu__link svg {
	display: block;
	width: 20px;
	height: 18px;
	fill: #115F41;
}

.menu__list li:not(:last-child) {
	margin-bottom: 40px;
}

.menu__list li:not(:first-child) .menu__link {
	writing-mode: vertical-rl;
	transform: rotate(-180deg);
}

.block {
	min-height: 100vh;
}

.block__row {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 275px;
	position: relative;
}

.block__row:after,
.block__row:before {
	position: absolute;
	content: ' ';
	left: 0px;
}

.block__row:after {
	width: 50%;
	height: 100%;
	background-color: #f6f6f6;
}

.block__row:before {
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
	left: 104px;
	right: 104px;
	width: calc(100% - 208px);
	height: 2px;
	background-color: #115F41;
}

.block__logo {
	position: relative;
	z-index: 2;
	max-width: 150px;
}

.block__wrap:after {
	position: absolute;
	content: 'Ваш брова';
	white-space: nowrap;
	top: 0px;
	left: 140px;
	font-size: 15vw;
	line-height: 1.2;
	color: #115F410D;
	text-transform: uppercase;
	font-weight: 900;
}

.block__holder {
	position: relative;
	height: calc(100vh - 275px);
}

.block__holder:after {
	position: absolute;
	content: ' ';
	bottom: 0px;
	right: 120px;
	max-width: 950px;
	width: 100%;
	height: calc(100% + 30px);
	background-image: url(../img/block-pic.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: contain;
}

.block__title {
	position: relative;
	z-index: 2;
	font-size: 48px;
	color: #000;
	text-transform: uppercase;
	padding-top: 130px;
	padding-bottom: 5px;
	font-weight: 200;
}

.block__title span {
	display: block;
	font-size: 72px;
	padding-top: 25px;
	font-weight: 900;
}

.block__year {
	position: relative;
	z-index: 3;
	display: block;
	font-size: 64px;
	line-height: 1.2;
	fill: none;
	stroke: #115F41;
	stroke-width: 2px;
	font-weight: 900;
}

.block__elem {
	position: absolute;
	bottom: 0px;
	display: flex;
	align-items: center;
}

.block__decor {
	width: 350px;
	height: 175px;
	background-color: #f6f6f6;
	margin-right: 90px;
}

.block__btn {
	position: relative;
	z-index: 3;
	cursor: pointer;
	display: block;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: none;
	outline: none;
}

.block__btn:after,
.block__btn:before {
	position: absolute;
	content: ' ';
}

.block__btn:after {
	bottom: 4px;
	left: calc(50% - 12px);
	width: 24px;
	height: 24px;
	border-right: 2px solid #115F41;
	border-bottom: 2px solid #115F41;
	transform: rotate(45deg);
	transition: 0.3s border-color;
}

.block__btn:before {
	top: 0px;
	left: calc(50% - 1px);
	width: 2px;
	height: 38px;
	background-color: #115F41;
	transition: 0.3s background-color;
}

.block__btn:hover:after {
	border-color: #04140e;
}

.block__btn:hover:before {
	background-color: #04140e;
}

.block__toggle {
	position: absolute;
	top: 53px;
	right: 72px;
	width: 50px;
	height: 50px;
}

.block__points {
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.block__list {
	display: none;
	width: 100%;
	min-width: 200px;
	top: 100%;
	right: 0px;
	z-index: 8;
	position: absolute;
	padding-top: 36px;
	max-height: calc(100vh - 70px);
	overflow-y: auto;
	overflow-x: hidden;
}

.block__list li {
	width: max-content;
	display: block;
	text-align: right;
	margin-left: auto;
}

.block__link {
	display: block;
	font-size: 18px;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.block__points {
	display: flex;
	outline: none;
	height: 50px;
	width: 50px;
	border: 0px;
	padding: 0px;
	background: transparent;
	transition: all 250ms ease-out;
	cursor: pointer;
}

.block__points:after,
.block__points:before {
	content: '';
	width: 50px;
	height: 2px;
	position: absolute;
	background: #1a1a1a;
	transition: all 250ms ease-out;
	will-change: transform;
}

.block__points:before {
	transform: translateY(15px);
}

.block__points:after {
	transform: translateY(35px);
}

.block__points--open:before {
	transform: translateY(24px) rotate(45deg);
}

.block__points--open:after {
	transform: translateY(24px) rotate(-45deg);
}

.basket {
	margin-bottom: 120px;
}

.basket__wrap-table {
	overflow-x: auto;
	overflow-y: hidden;
}

.basket .basket__item,
.basket .basket__wrap-title {
	display: flex;
	align-items: center;
	min-width: 830px;
}

.basket .basket__item .basket__title:nth-child(1),
.basket .basket__item .basket__box:nth-child(1),
.basket .basket__wrap-title .basket__title:nth-child(1),
.basket .basket__wrap-title .basket__box:nth-child(1) {
	min-width: 440px;
	max-width: 275px;
	padding-left: 46px;
	padding-right: 20px;
	width: 100%;
}

.basket .basket__item .basket__title:nth-child(2),
.basket .basket__item .basket__box:nth-child(2),
.basket .basket__wrap-title .basket__title:nth-child(2),
.basket .basket__wrap-title .basket__box:nth-child(2) {
	min-width: 170px;
	max-width: 170px;
}

.basket .basket__item .basket__title:nth-child(3),
.basket .basket__item .basket__box:nth-child(3),
.basket .basket__wrap-title .basket__title:nth-child(3),
.basket .basket__wrap-title .basket__box:nth-child(3) {
	min-width: 135px;
	max-width: 135px;
}

.basket .basket__item .basket__title:nth-child(4),
.basket .basket__item .basket__box:nth-child(4),
.basket .basket__wrap-title .basket__title:nth-child(4),
.basket .basket__wrap-title .basket__box:nth-child(4) {
	min-width: 180px;
	max-width: 180px;
}

.basket .basket__item .basket__title:nth-child(5),
.basket .basket__item .basket__box:nth-child(5),
.basket .basket__wrap-title .basket__title:nth-child(5),
.basket .basket__wrap-title .basket__box:nth-child(5) {
	min-width: 200px;
	max-width: 200px;
}

.basket .basket__item .basket__title:nth-child(5),
.basket .basket__item .basket__box:nth-child(6),
.basket .basket__wrap-title .basket__title:nth-child(5),
.basket .basket__wrap-title .basket__box:nth-child(6) {
	min-width: 60px;
	max-width: 60px;
}

.basket__title {
	font-size: 18px;
	line-height: 1.2;
	color: #000000;
	text-transform: uppercase;
	font-weight: normal;
	padding-bottom: 26px;
}

.basket__item {
	width: min-content;
	display: flex;
	position: relative;
	margin-bottom: 32px;
}

.basket__item:after {
	content: "";
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 10px;
	right: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	z-index: -1;
}

.basket__box {
	display: flex;
	align-items: center;
	padding: 15px 0;
	text-transform: uppercase;
}

.basket__box--elem {
	font-size: 24px;
}

.basket__box--capacity {
	font-size: 18px;
}

.basket__single {
	font-size: 36px;
	color: #000;
	font-weight: 200;
}

.basket__sum {
	font-size: 18px;
	color: #115F41;
	padding-right: 8px;
	font-weight: 200;
}

.basket__sum span {
	font-size: 36px;
	padding-right: 15px;
}

.basket__input {
	max-width: 27px;
	width: 100%;
	display: inline-block;
	font-size: 24px;
	line-height: 1.2;
	color: #115F41;
	border: none;
	text-align: center;
	padding: 0px;
	margin-left: 15px;
	margin-right: 13px;
}

.basket__arrow {
	cursor: pointer;
	display: block;
	position: relative;
	margin: 0 auto;
	width: 20px;
	height: 20px;
	border: none;
	background-color: #fff;
	outline: none;
	padding: 0px;
	transition: 0.3s background-color;
}

.basket__arrow:after,
.basket__arrow:before {
	position: absolute;
	content: ' ';
	background-color: #115F41;
	border-radius: 5px;
	transition: 0.3s background-color;
}

.basket__arrow:after {
	top: calc(50% - 2px);
	left: 0px;
	width: 20px;
	height: 4px;
}

.basket__arrow--increment:before {
	top: 0px;
	left: calc(50% - 2px);
	width: 4px;
	height: 20px;
}

.basket__arrow:hover:after,
.basket__arrow:hover:before {
	background-color: #04140e;
}

.basket__close {
	cursor: pointer;
	position: relative;
	min-width: 25px;
	height: 25px;
	margin: 17px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border: none;
	outline: none;
	padding: 0px;
}

.basket__close:before,
.basket__close:after {
	content: '';
	position: absolute;
	left: 0px;
	width: 25px;
	height: 2px;
	background-color: #fb5555;
	transition: 0.3s background-color;
}

.basket__close:before {
	bottom: 20px;
	transform: rotate(45deg);
	transform-origin: 0 100%;
}

.basket__close:after {
	top: 20px;
	transform: rotate(-45deg);
	transform-origin: 0 0;
}

.basket__close:hover:after,
.basket__close:hover:before {
	background-color: #591e1e;
}

.basket__col {
	position: relative;
}

.basket__info {
	cursor: pointer;
	display: block;
	position: relative;
	width: 50px;
	height: 50px;
	background-color: #115F41;
	border: 2px solid #115F41;
	outline: none;
	border-radius: 25px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 46px;
	transition: 0.3s background-color;
}

.basket__info:after,
.basket__info:before {
	position: absolute;
	content: ' ';
	background-color: #fff;
	border-radius: 5px;
	transform: 0.3s background-color;
}

.basket__info:after {
	top: calc(50% - 2px);
	left: calc(50% - 10px);
	width: 20px;
	height: 4px;
}

.basket__info:before {
	top: calc(50% - 10px);
	left: calc(50% - 2px);
	width: 4px;
	height: 20px;
}

.basket__info:hover {
	background-color: #fff;
}

.basket__info:hover:after,
.basket__info:hover:before {
	background-color: #115F41;
}

.basket__submenu {
	position: absolute;
	z-index: 3;
	opacity: 0;
	visibility: hidden;
	bottom: calc(100% + 36px);
	left: 50%;
	transform: translateX(-50%);
	max-width: 375px;
	width: 100%;
	min-width: 300px;
	background-color: #fff;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
	padding: 35px 32px;
	padding-bottom: 25px;
	transition: 0.3s opacity;
}

.basket__submenu li {
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	line-height: 1.2;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.basket__submenu li span {
	display: block;
}

.basket__submenu li span:last-child {
	min-width: 80px;
	padding-left: 25px;
	text-align: right;
}

.basket__submenu--active {
	opacity: 1;
	visibility: visible;
}

.basket__holder {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	padding-bottom: 35px;
	font-weight: 200;
}

.basket__total {
	display: block;
	font-size: 36px;
	color: #000;
	padding: 0 22px;
}

.basket__currency {
	font-size: 18px;
}

.basket__block {
	display: flex;
	align-items: center;
}

.page-basket {
	margin-bottom: 108px;
}

.page-basket__error {
	color: #8B0000;
	padding-bottom: 15px;
	padding-left: 20px;
	text-transform: uppercase;
	font-weight: 700;
}

.page-basket__title {
	cursor: pointer;
	position: relative;
	width: max-content;
	font-size: 72px;
	line-height: 1.2;
	color: #115F41;
	text-transform: uppercase;
	text-align: center;
	margin: 80px auto;
	font-weight: 900;
	transition: 0.3s color;
}

.page-basket__title a {
	display: block;
	position: relative;
	color: #115F41;
	padding-left: 70px;
	transition: 0.3s color;
}

.page-basket__title a:after,
.page-basket__title a:before {
	position: absolute;
	content: ' ';
}

.page-basket__title a:after {
	top: calc(50% - 10px);
	left: 3px;
	width: 20px;
	height: 20px;
	transform: rotate(-45deg);
	border-left: 2px solid #115F41;
	border-top: 2px solid #115F41;
	transition: 0.3s border;
}

.page-basket__title a:before {
	width: 36px;
	height: 2px;
	background-color: #115F41;
	top: calc(50% - 1px);
	left: 0px;
	transition: 0.3s background-color;
}

.page-basket__title a:hover {
	color: #04140e;
}

.page-basket__title a:hover:after {
	border-color: #04140e;
}

.page-basket__title a:hover:before {
	background-color: #04140e;
}

.page-basket .basket__holder {
	padding-bottom: 45px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 0;
	visibility: hidden;
	padding-top: 10vh;
	padding-bottom: 10vh;
	z-index: 20;
	transition: 0.3s opacity, 0.3s visibility;
}

.overlay-request {
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay-active {
	opacity: 1;
	visibility: visible;
}

.overlay-close {
	position: absolute;
	top: 12px;
	right: -68px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	z-index: 1;
}

.overlay-close:after,
.overlay-close:before {
	content: '';
	position: absolute;
	top: 18px;
	left: 0px;
	width: 40px;
	height: 2px;
	background-color: #fff;
	transition: 0.3s background-color;
}

.overlay-close:after {
	transform: rotate(45deg);
}

.overlay-close:before {
	transform: rotate(-45deg);
}

.overlay-close:hover:after,
.overlay-close:hover:before {
	background-color: rgba(255, 255, 255, 0.7);
}

.overlay .btn--send {
	margin: 0px;
}

.inner-overlay {
	position: relative;
	margin: 0 auto;
}

.inner-request {
	max-width: 600px;
	width: 100%;
	margin: 0 20px;
}

.inner__box {
	overflow: auto;
	overflow-x: hidden;
	max-height: 80vh;
	background: #fff;
	border-radius: 30px;
	padding: 50px 45px;
}

.request__subtitle {
	font-size: 48px;
	line-height: 1.2;
	color: #115F41;
	text-transform: uppercase;
	padding-bottom: 60px;
	font-weight: 900;
}

.request__item {
	margin-bottom: 35px;
}

.request__item--block {
	margin-bottom: 45px;
}

.request__inner {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.request__label {
	display: inline-block;
	cursor: pointer;
	user-select: none;
	font-size: 18px;
	line-height: 1;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-weight: bold;
}

.request__info {
	font-size: 18px;
	line-height: 1;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-weight: 200;
}

.request__error {
	color: #8B0000;
	padding-bottom: 15px;
	padding-left: 20px;
	text-transform: uppercase;
	font-weight: 700;
}

@media screen and (min-width: 1920px) {

.block__wrap:after {
	font-size: 300px;
}

}

@media screen and (max-width: 1600px) {

.menu__list li:not(:last-child) {
	margin-bottom: 35px;
}

.block__decor {
	width: 200px;
	margin-right: 50px;
	height: 150px;
}

}

@media screen and (max-width: 1530px) {

.about__wrap {
	padding: 0 20px;
	padding-top: 21em;
	padding-bottom: 28em;
}

}

@media screen and (max-width: 1430px) {

.about {
	margin-bottom: 30px;
}

.about__wrap {
	padding: 0 60px;
	padding-top: 23em;
	padding-bottom: 30em;
}

.contacts__map {
	clip-path: url(#map-lg);
	margin-top: -175px;
	min-height: 800px;
}

.contacts__elem {
	margin-top: -32px;
}

.menu {
	width: 65px;
	padding: 0 12px;
}

.block__row {
	height: 190px;
}

.block__logo {
	max-width: 120px;
}

.block__holder {
	height: calc(100vh - 190px);
}

.block__title {
	padding-top: 76px;
}

.block__elem {
	padding-bottom: 25px;
}

.block__decor {
	display: none;
}

.block__toggle {
	top: 30px;
}

}

@media screen and (max-width: 1350px) {

.container--content {
	padding: 0 15px;
}

.container--basket {
	padding: 0 15px;
}

.title {
	font-size: 55px;
}

.about__wrap {
	padding: 0 70px;
	padding-top: 25em;
	padding-bottom: 30em;
}

.menu {
	display: none;
}

.block__row:after {
	display: none;
}

.block__row:before {
	display: none;
}

}

@media screen and (max-width: 1250px) {

.container--inner {
	padding: 0px;
}

.product__item {
	padding: 40px 25px;
	padding-bottom: 35px;
}

.product__count {
	font-size: 22px;
}

.product__price {
	font-size: 28px;
}

.about {
	margin-top: 0px;
	margin-bottom: 50px;
	padding-top: 30px;
}

.about__image svg {
	display: none;
}

.about__wrap {
	padding: 0px;
}

.contacts__elem {
	margin-top: -40px;
}

.block__title span {
	font-size: 55px;
}

.basket__input {
	font-size: 22px;
}

}

@media screen and (max-width: 1150px) {

.main-header .btn--popup {
	margin-right: auto;
}

.main-header__holder {
	justify-content: space-between;
}

.main-header__list {
	display: none;
}

.main-header__block {
	display: none;
}

.about {
	padding-top: 0px;
}

.about__item--pic {
	width: auto;
	margin: 0 auto;
}

.about__item--block {
	width: 100%;
	padding-right: 0px;
	padding-top: 30px;
}

.block__holder:after {
	right: 0px;
}

.block__title {
	padding-top: 12px;
}

}

@media screen and (max-width: 1050px) {

.product {
	padding-top: 80px;
}

.product__item {
	width: calc(100% / 2 - 40px);
}

.contacts__elem {
	margin-top: -20px;
}

.block__wrap:after {
	display: none;
}

.block__title {
	font-size: 35px;
	padding-top: 32px;
}

.block__title span {
	font-size: 50px;
}

.basket__box--elem {
	font-size: 22px;
}

}

@media screen and (max-width: 960px) {

.main-header {
	padding: 30px 0;
}

.main-header--fixed + section {
	padding-top: 96px;
}

.title {
	max-width: 300px;
	font-size: 42px;
	padding-top: 25px;
	padding-bottom: 30px;
}

.contacts__map {
	clip-path: url(#map-md);
	margin-top: -60px;
	min-height: 600px;
}

.contacts__elem {
	margin-top: 20px;
}

.block__title span {
	font-size: 46px;
}

.block__year {
	font-size: 50px;
}

.basket {
	margin-bottom: 80px;
}

.basket__submenu li {
	font-size: 17px;
}

.page-basket__title {
	font-size: 50px;
}

.overlay-close {
	position: fixed;
	right: 40px;
}

.inner__box {
	padding: 30px 20px;
	border-radius: 20px;
}

.request__subtitle {
	font-size: 32px;
	padding-bottom: 40px;
}

.request__item {
	margin-bottom: 30px;
}

.request__item--block {
	margin-bottom: 40px;
}

}

@media screen and (max-width: 780px) {

.title {
	font-size: 35px;
}

.product {
	padding-top: 50px;
}

.product__wrap {
	max-width: 400px;
	margin: 0 auto;
}

.product__item {
	width: 100%;
	padding: 40px 20px;
	padding-bottom: 30px;
	margin: 0px;
	margin-bottom: 40px;
}

.product__subtitle {
	font-size: 22px;
}

.about__text p {
	font-size: 17px;
}

.about__text h1 {
	font-size: 26px;
}

.about__text h2 {
	font-size: 24px;
}

.about__text h3 {
	font-size: 22px;
}

.about__text h4 {
	font-size: 20px;
}

.about__text h5 {
	font-size: 18px;
}

.about__text h6 {
	font-size: 16px;
}

.about__text h1,
.about__text h2,
.about__text h3,
.about__text h4,
.about__text h5,
.about__text h6 {
	line-height: 1.4;
	padding-bottom: 35px;
}

.contacts__map {
	min-height: 400px;
	margin-top: -35px;
}

.contacts__inner {
	padding: 0px;
}

.contacts__label {
	font-size: 17px;
}

.contacts__info {
	font-size: 17px;
}

.contacts__error {
	padding-left: 0px;
}

.block__year {
	font-size: 45px;
}

.block__link {
	font-size: 17px;
}

.basket {
	margin-bottom: 60px;
}

.basket__box--elem {
	font-size: 20px;
}

.basket__submenu {
	padding: 35px 20px;
}

.basket__submenu li {
	font-size: 15px;
}

.page-basket__error {
	padding-left: 0px;
}

.page-basket__title {
	font-size: 40px;
}

.request__subtitle {
	font-size: 24px;
}

.request__inner {
	padding: 0px;
}

.request__label {
	font-size: 17px;
}

.request__info {
	font-size: 17px;
}

.request__error {
	padding-left: 0px;
}

}

@media screen and (max-width: 560px) {

.main-header .btn--popup {
	z-index: 0;
}

.main-header__search-wrap {
	max-width: 100%;
}

.product__subtitle {
	font-size: 20px;
}

.block__title {
	font-size: 30px;
	padding-top: 56px;
}

.block__title span {
	font-size: 30px;
}

.block__year {
	font-size: 28px;
}

.block__toggle {
	right: 20px;
}

}

@media screen and (max-width: 480px) {

.block__title {
	font-size: 25px;
	padding-top: 63px;
}

}

@media screen and (max-width: 400px) {

.main-header--fixed + section {
	padding-top: 90px;
}

.main-header__btn {
	width: 20px;
	height: 20px;
	margin-right: 25px;
}

.main-header__button button {
	width: 20px;
	height: 20px;
}

.main-header__search-btn {
	top: 12px;
	width: 20px;
	height: 20px;
}

.block__title {
	font-size: 21px;
	padding-top: 68px;
}

}

